<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>dinil</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>book</servlet-name>
    <servlet-class>com.customer.crud1.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.customer.crud1.BookingEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.customer.crud1.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookingHistoryServlet</display-name>
    <servlet-name>GetBookingHistoryServlet</servlet-name>
    <servlet-class>com.customer.crud1.GetBookingHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookingHistoryServlet</servlet-name>
    <url-pattern>/GetBookingHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editRoute</servlet-name>
    <servlet-class>com.customer.crud1.EditRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editRoute</servlet-name>
    <url-pattern>/editRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteRoute</servlet-name>
    <servlet-class>com.customer.crud1.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRoute</servlet-name>
    <url-pattern>/deleteRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newSchedule</servlet-name>
    <servlet-class>com.customer.crud1.SetNewScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newSchedule</servlet-name>
    <url-pattern>/newSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateSchedule</servlet-name>
    <servlet-class>com.customer.crud1.UpdateScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSchedule</servlet-name>
    <url-pattern>/updateSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>com.customer.crud1.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>com.customer.crud1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuzDao</display-name>
    <servlet-name>CuzDao</servlet-name>
    <servlet-class>com.customer.crud1.CuzDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuzDao</servlet-name>
    <url-pattern>/CuzDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logA</display-name>
    <servlet-name>logA</servlet-name>
    <servlet-class>com.customer.crud1.AlogSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logA</servlet-name>
    <url-pattern>/logA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logb</display-name>
    <servlet-name>logb</servlet-name>
    <servlet-class>com.customer.crud1.BLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logb</servlet-name>
    <url-pattern>/logb</url-pattern>
  </servlet-mapping>
</web-app>